.footer {
  background-color: rgb(50,50,50);
  color: rgb(150,150,150);
  text-align: center;
  padding: 35px;
  margin-top: 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 20px;

}

.list-inline a {
  color: rgb(43,113,136);
  text-decoration: none;
  font-size: 35px;
  text-align: center;
}

/*.footer p {
  font-weight: lighter;
}*/

/*.list-inline a:hover {
  color: rgb(50,50,50);
}
*/
